/* styles.css */
:root {
    --primary-color: #1d76ca;
    --secondary-color: #333;
    --background-color: #f4f4f4;
    --text-color: #333;
    --link-color: #0011ff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.policy-section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.policy-section h2 {
    color: var(--primary-color);
}

.policy-section ul {
    list-style-type: disc;
    padding-left: 20px;
}

.policy-section ul li {
    margin-bottom: 10px;
}

a {
    color: var(--link-color);
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: var(--secondary-color);
    color: white;
    position: absolute;
    width: 100%;
}

@media (max-width: 768px) {
    main {
        padding: 10px;
    }

    .policy-section {
        padding: 15px;
    }

    footer {
        padding: 0.5rem 0;
    }
}
